@import url("fonts/fonts.css");

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}

.footer {
    bottom:0;
    margin-top: 70px;
}
.footer p {
    margin-bottom: 0;
}

.logo-small{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Lobster1.4';
}

#loading-spin{
    position: absolute;
    z-index: 50;
    width: 50px;
    height: 50px;
    margin-left: 50%;
    margin-top: 5px;
    display: none;
}


.btn-huge{
    width: 100%;
    padding: 20px;
    margin-bottom: 5px;
}

.tile{
    margin-bottom: 5px;
}

.elfinder .elfinder-button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


.slider-container{
        height:210px; width: 800px; overflow: hidden;
        position: relative;
        background-color: black;
    }
.slider {
    width: 2000px; position:relative; height:220px; left:0px;top:0px; display: block;
}
.slider li{
     margin: 5px; 
     width:200px; 
     height: 200px; 
     display:block; 
     float:left;
}
.thumb-body{
    text-align: center;
    background-color: #ddd;
    padding: 5px;
}

.slider-container .slider-control{
    height: 210px;
    width: 30px;
    position: absolute;
    display: block;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}
.slider-container .slider-control > i{
    position: absolute;
    top: 40%;
    font-size: 30px;
    color: whitesmoke;
}
.slider-container > .slider-left{
    left: 0px;
}
.slider-container > .slider-left i{
    left: 10px;
}
.slider-container > .slider-right{
    right: 0px;
}
.slider-container > .slider-right i{
    right: 10px;
}
.admin-menu{
margin-top: 5px;
}
.admin-menu-item{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px dashed #999;
}
.select2.addButton, .dropdown.addButton {
    float: left;
    width: 80%;
}

select.select2 {
    width: 100%;
    background: #F4F4F4;
    border: 1px solid #DDDDDD;
    height: 34px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #d2d6de;
    cursor: text;
    border-radius: 0px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #3c8dbc !important;
}

.select2-container--default .select2-selection--single {
    border-color: #d2d6de;
    border-radius: 0px;
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent;
    border-width: 6px 3px 0 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 0px;
    width: 18px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 17px;
}

.select2-container {
    width: 100%;
}
table.treeTable td {
    border: 1px solid #eee;
}
.treeTable .level1 td:first-child {
    padding-left: 15px;
}
.treeTable .level2 td:first-child {
    padding-left: 30px;
}
.treeTable .level3 td:first-child {
    padding-left: 60px;
}
.treeTable .level4 td:first-child {
    padding-left: 90px;
}
.treeTable .collapse{
    display: table-row;
}
.treeTable .collapse .toggle.fa-caret-right {
    display: none;
}
.treeTable .expand .toggle.fa-caret-down {
    display: none;
}
.treeTable a{
    margin-left: 15px;
}
.treeTable .toggle {
    height: 20px;
    width: 10px;
    display: inline-block;
    font-size: 20px;
    position: absolute;
}